<section class="addScore">
    <h2>Add score</h2>
    <section>
        <div class="selectors">
            <div class="teamOptions">
                <label><input type="radio" name="options"><%- data.team1Name %></label>
                <label><input type="radio" name="options"><%- data.team2Name %></label>
            </div>
            <div class="addStats">
                <label><input type="checkbox">Goals</label>
                <label><input type="checkbox">Assist</label>
                <label><input type="checkbox">Blocks</label>
                <label><input type="checkbox">Turnover</label>
            </div>
        </div>
        <div class="buttons">
            <button>
                +
            </button>
            <button>
                -
            </button>
        </div>
    </section>
</section>