<nav>
    <img src="/images/UltiTv-logo.jpg" alt="Ulti Tv logo">
    <a <% if(active=="/" ) {%> class="active"<%}%> href="/">Home</a>
    <a <% if(active=="/score" ) {%> class="active"<%}%> href="/score">Score</a>
    <a <% if(active=="/players" ) {%> class="active"<%}%> href="/players">Players</a>
    <a <% if(active=="/addStats" ) {%> class="active"<%}%> href="/addStats">Add stats</a>
</nav>