<!-- <section class="player-legend">
    <div class="layout">
        <div class="goals example">
            Goals
        </div>
        <div class="assist example">
            Assist
        </div>
    </div>
    <div class="layout">
        <div class="blocks example">
            blocks
        </div>
        <div class="turnover example">
            Turnover
        </div>
    </div>
</section> -->