<% data.team1Players.forEach(player => { %>

<dialog id="<%- player.playerId %>" class="card">
    <p>Ik ben Gijs</p>
    <button class="close">
        Close
    </button>
</dialog>

<% }) %>



<% data.team2Players.forEach(player => { %>    
    
<dialog id="<%- player.playerId %>" class="card">
    <p>Ik ben Gijs</p>
    <button class="close">
        Close
    </button>
</dialog>
    
<% }) %>

    